@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.content {
    text-align: center;
    padding: 100px;
    color: white;
}

.custom-navbar {

    font-family: 'Poppins';
    /* font-size: 0.5rem; */
}

.custom-nav-links {
    margin-left: auto;
}

.custom-nav-links li{
    margin-left: 1rem;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-link:hover {
    color: white;
    font-weight: bold;
}

.logo {
    margin-left: 0rem;
}




.icon {
    font-size: 5rem;
    text-align: center;
}

#productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.product {
    width: calc(33.33% - 1.25rem);
    margin: 0.5rem -1rem 1.5rem 0;
    padding: 1rem 0 1rem 0;
}

.productInfo {
    text-align: center;
    align-items: center;
    justify-content: center;
}







.custom-btn {
    width: 7rem;
    text-align: center;
    color: white;
}

.custom-btn:hover {
    color: black;
}



.login_register{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login{
    display: flex;
    align-items: center;   
    color: white;
    margin-right: 1rem;
    
}

.login p{
    align-items: center;
    padding-top: 1rem;
    padding-left: 0.5rem;
}





/* ------------------Media Query------------------ */
@media (max-width: 1400px) {
    .product .productInfo img {
        height: 150px;
    }
}

@media (max-width: 992px) {

    .custom-navbar {
        font-size: 2rem;
    }

    .custom-nav-links {
        text-align: center;
    }

    .nav-item {
        margin-left: 0rem;
    }

    .logo {
        margin: 0rem;
    }

    .product {
        width: calc(50% - 1.25rem);
    }


    #category, #price{
        font-size: 10px;
    }


}

@media (max-width: 768px) {
    .product {
        width: calc(100% - 1.25rem);
        margin-right: 0;
    }



    .check{
        padding-bottom: 1rem;
    }

    .check #price,#category{
        font-size: 15px;
        margin-right: 1rem;
    }

    .searchBtn{
        margin-right: auto;
    }
  
}

@media (max-width: 480px){
    .check{
        flex-wrap: wrap;
    }

    .check #price,#category{
        margin-bottom: 1rem;
    }

    .searchBtn{
        margin-right: 4rem;
    }
}